.container__big-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 3% 1% 1% 3%;
}

.big-card__photo {
  margin: 1% 1% 1% 3%;
  width: 100%;
}

.big-card__photo img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 100%;
  height: 60%;
}

.big-card__title {
  margin: 1% 1% 1% 3%;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
}

.big-card__description {
  margin: 1% 1% 1% 3%;
  width: 100%;
  font-size: 1.5rem;
  text-align:justify;
}

.big-card__description p {
  color: gray
}


